// color
@primaryColor: #429046;
@darkPrimaryColor: #447947;
@lightPrimaryColor: #5dd063;

@darkGray: #555;
@gray: #999;
@lightGray: #ccc;
@lightestGray: #eee;

@orange: #ff9800;

@boxShadow: 0px 1px 10px #ccc;



// z-index
@selectOptionsZindex: 1000;
@bottomTabZindex: 100;
@messageZindex: 1001;


@progressBarHeight: 3px;
@bottomNavHeight: 10vh;